.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.wrapper {
  width: 20rem;
  height: 25rem;
}

.inputGroup {
  display: flex;
  gap: .5rem;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

form button {
  margin-top: 1rem;
}